{% set crumbs = breadcrumbs.get() %}
{% set breadcrumbs_config = config.plugins.breadcrumbs %}
{% set divider = breadcrumbs_config.icon_divider_classes %}

{% if crumbs|length > 1 or breadcrumbs_config.show_all %}
<nav class="nav-breadcrumbs" id="" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    {% if breadcrumbs_config.icon_home %}
    <i class="{{ breadcrumbs_config.icon_home }}"></i>
    {% endif %}
    {% for crumb in crumbs %}
        {% if not loop.last %}
            {% if crumb.routable %}
                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
            {% else  %}
                <span class="active" itemprop="title">{{ crumb.menu }}</span>
            {% endif %}
            <i class="{{ divider }}"></i>
        {% else %}
            {% if breadcrumbs_config.link_trailing %}
                <a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.menu }}</span></a>
            {% else %}
                <span class="active" itemprop="title">{{ crumb.menu }}</span>
            {% endif %}
        {% endif %}
    {% endfor %}
   <!-- <span class="here"><i class="fa fa-angle-left"></i> You are here</span> -->
</nav>
{% endif %}

<nav class="nav-secondary">
  <ul class="list-reset site-width-centered">
  {% if grav.uri.paths.2 %}
  <li><a href="{{ page.parent.url }}">{{ page.parent.title }}</a></li>
  {% endif %}
  {% for p in page.parent.children %}
  {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
  <li><a class="{{ current_page }}" href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
  </ul>
</nav>
