<nav class="navbar nav-primary" role="navigation">
<a href="/" class="site-logo"><span class="name">Kaye McNeill</span> <span class=""> {{ site.title }}</span></a>
<div class="site-width-centered">
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-mobile">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="nav-mobile collapse" id="nav-mobile">

<a href="/">Home</a>
{% for key, item in site.mobile_nav %}
<a href="{{ item }}">{{ key }}</a>
{% endfor %}

<span class="nav-close"  data-toggle="collapse" data-target="#nav-mobile"> <i class="fa fa-times"></i> </span>
</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
{% for page in pages.children %}
{% if page.visible %}
{% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
    {% if page.children.visible.count > 0 %}
    <li class="dropdown"><a class="nav-parent dropdown-toggle {{ current_page }}" data-toggle="dropdown">{{ page.menu }} <i class="fa fa-arrow-circle-down"></i></a>
       <ul class="dropdown-menu">
        {% for child in page.children %}
            {% if child.visible %}
                <li><a class="" href="{{ child.url }}">{{ child.menu }} <span class="btn-icon"><i class="fa fa-angle-double-right"></i></span> </a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </li>
    {% else %}
    <li class=""><a class="{{ current_page }}" href="{{ page.url }}">{{ page.menu }}</a></li>
    {% endif %}
{% endif %}
{% endfor %}

</ul>
</div>
</div>
</nav>
