{% set pagination = pagination|default(page.collection.params.pagination) %}
{% set base_url = base_url|default(page.url) %}

{% if pagination|length > 1 %}
<nav class="nav-pagination">
<ul class="pagination">
    {% if pagination.hasPrev %}
        {% set url =  (base_url ~ pagination.params ~ pagination.prevUrl)|replace({'//':'/'}) %}
        <li><a rel="prev" href="{{ url }}"> <i class="fa fa-angle-double-left"></i></a></li>
    {% else %}
        <li><span> <i class="fa fa-angle-double-left"></i></span></li>
    {% endif %}

    {% for paginate in pagination %}

        {% if paginate.isCurrent %}
            <li class="active"><span>{{ paginate.number }}</span></li>
        {% elseif paginate.isInDelta %}
            {% set url = (base_url ~ pagination.params ~ paginate.url)|replace({'//':'/'}) %}
            <li><a href="{{ url }}">{{ paginate.number }}</a></li>
        {% elseif paginate.isDeltaBorder %}
            <li class="gap"><span>&hellip;</span></li>
        {% endif %}

    {% endfor %}
    {% if pagination.hasNext %}
        {% set url = (base_url ~ pagination.params ~ pagination.nextUrl)|replace({'//':'/'}) %}
        <li><a rel="next" href="{{ url }}">  <i class="fa fa-angle-double-right"></i></a></li>
    {% else %}

    {% endif %}
</ul>
</nav>
{% endif %}

{#
<nav class="nav-pagination">
{{ entries:pagination from="{var_from}" conditions="{var_conditions}" limit="{var_limit}" }}

    <ul class="pagination pagination-sm">
    {{ if first_page }}<li><a href="{{ first_page }}">First</a></li>{{ endif }}
    {{ if previous_page }}<li><a aria-label="Previous" href="{{ previous_page }}">&nbsp;  <i class="fa fa-angle-double-left"></i> &nbsp;</a></li>{{ endif }}
    <li class="active"><span>page {{ current_page }} of {{ total_pages }}</span></li>
    {{ if next_page }}<li><a aria-label="Next" href="{{ next_page }}">&nbsp; &raquo; &nbsp;</a></li>{{ endif }}
    {{ if last_page }}<li><a href="{{ last_page }}">Last</a></li>{{ endif }}
    </ul>
    <p><small>{{ current_first_item }} - {{ current_last_item }} of {{ total_items }} Items {{ var_text }}</small></p>

{{ /entries:pagination }}
</nav>
#}
