<div class="block-media clearfix">
 {{ image }}
  {{ if first }}
  <div class="images">
  {{ /if }}
    {{ img }}
      <figure class="item-image side-{{ side }} size-{{ size }}">
      {{ if size == "lg" }}
      <img class="img-responsive" src='{{ glide:file width="900" height="600" fit="crop" }}' />
      {{ elseif size == "md" }}
      <img class="img-responsive" src='{{ glide:file width="600" height="400" fit="crop" }}' }}" />
      {{ else }}
      <img class="img-responsive" src='{{ glide:file width="300" height="220" fit="crop" }}' }}" />
      {{ /if }}
      </figure>
    {{ /img }}
  {{ if caption }}
  <figcaption> {{ caption }}</figcaption>
  {{ /if }}
  {{ if last }}
  </div>
  {{ /if }}
{{ /image }}
  <div class="content">
    {{ text|markdown }}
  </div>
  </div>
</div>
