


.page-article-dl {
  float: right;
  margin: -20px 20px 20px 20px;
}



.article-list-archive {
  margin-top: 20px;
  .item {
    position: relative;
  }
  .date {
    margin-right: 20px;
  }
  .tags {
    color: mix(#fff,@color4,50%);
  }
}



.article-author-list {
  .item {
    display: block;
    font-size: @font-size-base * 0.9;
    margin: 0 0 5px;
    text-decoration: underline;
    &:hover {
      color: @color4;
      text-decoration: none;
    }
  }
}


.article-details {
  .item-tags {
    padding: 0 40px;
    font-size: @font-size-base * 0.8;
    a, .date {
      padding: 10px 15px;
    }
    .tags {
      padding: 0 10px;
      a {
        padding: 10px 3px;
        text-decoration: underline;
      }
    }
  }
  .related {
    background: mix(#fff,@color4,80%);
    padding: 10px 40px;
    h2 {
      margin: 5px 0;
    }
    a {
      color: @color4;
    }
  }
  .prev-next {
    margin: 50px 0;
    padding: 0 40px;
    a {
      background: @color3;
      color: #fff;
      display: inline-block;
      font-size: @font-size-base * .85;
      padding: 10px 20px;
      position: relative;
      max-width: 30%;
      .alt {
        color: mix(#fff,@color3,70%);
      }
      span.icon {
        color: @color3;
        font-size: 50px;
        position: absolute;
        .vtop;
      }
      &.prev {
        span.icon {
          left: -15px;
        }
      }
      &.next {
        float: right;
        span.icon {
          right: -15px;
        }
      }
    }
  }
}



.article-list {
  // padding: 0 30px;
  .no-results {
    padding: 0 20px;
  }
  .item {
    position: relative;
  }
}


.article-list {
  padding: 40px 0;
  .item {
    color: #444;
    margin: 0 0 20px;
    padding: 0 0 20px;
    min-height: 180px;
    overflow: hidden;
    padding-left: 330px;
    position: relative;
    .item-image {
      height: 100%;
      left: 0;
      margin: 0 0 20px;
      position: absolute;
      top: 0;
      width: 300px;
    }
    .item-content {
      padding: 10px;
    }
    .item-title {
      color: @color3;
      margin-top: 15px;
      font-size: @font-size-base * 1.2;
      text-transform: capitalize;
    }
    .item-info {
      color: #777;
      font-size: @font-size-base * 0.8;
      span {
        margin-right: 20px;
      }
    }
    .excerpt {
      font-size: @font-size-base * 0.85;
    }
  }
}


 .item-tags {
  background: @color3;
  color: @color1;
  font-size: @font-size-base * 0.7;
  .detail {
    color: mix(#fff,@color3,80%);
    float: left;
  }
  a {
    color: mix(#fff,@color3,80%);
    display: inline-block;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  .author {
    background: mix(#fff,@color3,20%);
  }
  .date {
    background: mix(#fff,@color3,30%);
  }
  .tags {
    background: mix(#fff,@color3,40%);
  }
}






// rwd

@media only screen and (max-width: 767px) {


.page-article-dl {
  float: none;
  margin: 20px 20px 0;
}


.article-list-main {
  .item {
    background: mix(#fff,@color3,95%);
    //border: 1px solid @color1;
    margin: 20px 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    .item-image {
      height: 120px;
      left: auto;
      margin-right: 0px;
      position: static;
      top: auto;
      width: 200px;
    }
  }
}

.article-list {
  padding: 20px;
  .item {
    margin: 20px 0;
    overflow: hidden;
    padding-left: 0;
    position: relative;
    .item-info {
      background: #eee;
      padding: 5px;
    }
    .item-image {
      height: 200px;
      left: auto;
      margin-right: 0px;
      position: static;
      top: auto;
      width: 400px;
    }
    .item-content {
      padding: 10px 0;
    }
  }
}


} // rwd

@media only screen and (max-width: 599px) {

.article-details {
  .item-tags {
    padding: 0;
  }
  .prev-next {
    margin: 30px 0;
    padding: 0 25px;
    a {
      max-width: 45%;
    }
  }
}

.article-list-feature {
  .item-1, .item-2 {
    float: none;
    margin: 30px 0;
    min-height: 200px;
    width: 100%;
  }
}





} // rwd



