



.event-detail {
  .back-wrapper {
    margin-bottom: 20px;
  }
  .event-expired {
    background: #c00;
    color: #fff;
    padding: 20px 40px;
  }
  .event-title {
    background: @color1;
    color: @colorw;
    margin: 30px 0;
    padding: 20px 40px;
  }
  .event-date {
    background: mix(@colorw,@color3,30%);
    color: #fff;
    padding: 14px 40px 10px;
  }
}










.calendar-list {
  padding: 30px 20px;

  .date-heading {
    border-bottom: 2px solid @color3;
    margin-bottom: 5px;
    padding-bottom: 10px;
  }

  .item {
    margin-bottom: 20px;
    position: relative;

    .content {
      min-height: 300px;
      position: relative;
      &:after {
        .overlay-dark;
      }
    }

    .title {
      h1 {
        background: @color1;
        color: @colorw;
        display: inline-block;
        font-size: @font-size-base * 1.6;
        margin: 20px 20px 0;
        padding: 10px;
      }
    }

    .date {
      background: @colorw;
      color: @color1;
      display: inline-block;
      margin: 10px 0 0 20px;
      padding: 5px;
    }

    .btn {
      bottom: 20px;
      position: absolute;
      right: 20px;
      z-index: 20;
    }

    &:hover {
      .content {
        &:after {
          opacity: 0.6;
        }
        .title, .date {
          position: relative;
          z-index: 20;
        }

        .btn {
          background: @color3;
          border-color: @color3;
        }
      }
    }

  }

}




@media only screen and (max-width: @screen-sm-max) {



} // RWD


@media only screen and (max-width: 767px) {



} // RWD


