
.galleries-list-parent {
  padding: 0;
  .item {
    display: block;
    .rwd-height(@screen-sm-max,767px,300px,250px,300px);
    margin: 0 0 15px;
    position: relative;

    h1 {
      background: fade(@color2,50%);
      bottom: 0;
      color: @colorw;
      font-size: @font-size-base * 1.7;
      margin: 0;
      padding: 10px 20px;
      position: absolute;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
    }

    &:after {
      .overlay-base;
      background: #000;
      opacity: 0;
    }

    .fa {
      position: absolute;
      .center-b;
      opacity: 0.2;
      color: @colorw;
      .transition(1s opacity);
    }

    &:hover {
      .fa {
        font-size: @font-size-base * 2;
        opacity: 1;
        z-index: 20;
      }
      h1 {
        background: @color1;
        z-index: 22;
      }
      &:after {
        opacity: 0.3;
      }
    }
  }

} // parent
