

.template-home {

  // overrides
  // #############################

.page-container {
  padding: 0;
}

  // #############################



.intro {
    .rwd-p(767px,499px,/**/10px,40px,10px,40px,/**/10px,25px,10px,25px,/**/0px,15px,0px,15px);
  .intro-text {

  }
  h1 {
    color: @color2;
    font-size: @font-size-base * 1.8;
  }
  .col-slider {
    .rwd-p((@site-width-1 + 21),767px,/**/0px,15px,0px,15px,/**/0px,0px,0px,0px,/**/0px,0px,0px,0px);
  }
}


.home-section {
  .block-media {
    margin-bottom: 0;
    .images {
      margin-bottom: 0;
      .image {
        margin-bottom: 0;
      }
    }
  }
}


section.one {
  background: @color3;
  color: @colorw;
  margin: 40px 0 0;
  .rwd-p(767px,499px,20px,40px,5px,40px,15px,15px,5px,15px,15px,15px,5px,15px);
  text-align: center;
  h1,h2, h3 {
    color: @colorw;
    font-size: @font-size-base * 1.8;
    font-weight: 100;
    margin: 0 0 20px;
  }
}


section.two {
  .block-content {
    .rwd-p(767px,499px,30px,60px,30px,60px,15px,15px,15px,15px,15px,15px,15px,15px);
  }
}


section.three {
  background: @colorw;
  border: 1px solid @color1;
  color: @color1;
  font-size: @font-size-base * 1.2;
  margin: 50px 0;
  .rwd-p(767px,499px,20px,40px,20px,40px,15px,15px,15px,15px,15px,15px,15px,15px);
  h1,h2,h3 {
    color: @color1;
  }
}



section.contact {
  background: @colorw;
  color: @color2;
  font-size: @font-size-base * 1.1;
  .rwd-p(767px,499px,40px,30px,25px,30px,15px,15px,15px,15px,15px,15px,15px,15px);
  text-align: center;
  .inner {
    padding-left: 10%;
  }
  h3 {
    color: @colorw;
    margin: 20px 0 30px;
    text-align: center;
  }
  a {
    color: @colorw;
    text-decoration: underline;
  }
  .fa-inverse {
    color: @colorw;
  }
  .fa-envelope {
    font-size: 20px;
  }
}



section.four {
  .block-content {
    .rwd-p(767px,499px,20px,15px,20px,15px,15px,15px,15px,15px,15px,15px,15px,15px);
  }
  a {
    .btn;
    .btn-one;
  }
}









} // page






// ##############################################################################
// ##############################################################################
// rwd




@media only screen and (max-width: 767px) {
.template-home {



} // page
} // rwd

@media only screen and (max-width: 599px) {

  .template-home {

    section.contact {
      .inner {
        padding-left: 0;
      }
      .fa-stack {
        display: none;
      }
    }


  } // page
} // rwd
