


.main-item-list {
  margin: 20px 0 40px;
  padding: 0 40px;

  .item {
    margin-bottom: 20px;
    position: relative;
    padding: 0 220px 0 0;
    .item-image {
      background: url('/_themes/site/img/bg1.png');
      height: 140px;
      margin: 30px 0 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 200px;
    }
    .item-content {

    }
    h2 {
      border-bottom: 3px solid @color2;
      color: @color2;
      font-size: @font-size-base * 1.4;
      margin: 20px 0 0;
      padding: 0 0 10px;
    }
    .date {
      background: @color2;
      color: #fff;
      display: inline-block;
      font-size: @font-size-base * .80;
      padding: 5px 15px;
    }
    .excerpt {
      font-size: @font-size-base * 0.9;
      margin: 10px 0 0;
    }
    .read-more {
      color: @color3;
      text-decoration: underline;
    }
    .item-view {
      background: @color1;
      bottom: 0;
      color: #fff;
      font-size: @font-size-base * 0.8;
      height: 35px;
      padding: 9px 15px 0;
      position: absolute;
      right: 0;
      text-align: center;
    }
     &:hover {
      .title {
        color: @color3;
      }
    }
  }
}



// rwd

@media only screen and (max-width: 767px) {

.main-item-list {
  padding: 0 15px;
    .item {
    margin-bottom: 20px;
    position: relative;
    padding: 0 0 0 0;
    .item-image {
      background: url('/_themes/site/img/bg1.png');
      height: 140px;
      margin: 10px 0 0;
      position: static;
      right: auto;
      top: auto;
      width: 200px;
    }
  }
}

} // rwd
