
// newsletter

.newsletter-latest {
  border: 1px solid @color1;
  left: 10%;
  .rwd-max-width(@screen-sm-max,767px,80%,80%,95%);
  padding: 20px;
  position: relative;
  text-align: center;

  h2 {
    font-size: @font-size-base * 1.7;
    margin: 0 0 20px;
  }

  .btn {
    font-size: @font-size-base * 1.1;
    padding-right: 145px;
    .btn-icon {
      font-size: @font-size-base * 0.9;
      padding-top: 13px;
      width: 120px;
    }
  }
}

.news-archive-list {

  .item {
    background: @colorw;
    border-left: 5px solid @color2;
    display: block;
    margin-bottom: 5px;
    padding: 3px 220px 3px 15px;
    position: relative;

    &:hover {
      background: @color2;
      color: @colorw;
    }
  }

}




