

  .testimonials-list {
    margin: 40px 0;
    .item {
    .rwd-p((@site-width-1 - 1),767px,30px,20px,30px,20px,20px,0px,20px,0px,15px,15px,15px,15px);
      .content {
        max-width: 80%;
        padding-left: 100px;
        position: relative;
      }
      .fa-stack {
        left: 0px;
        position: absolute;
        top: 0px;
      }
      .title {
        display: block;
        font-size: @font-size-base * 1.4;
        margin-top: 20px;
      }

      &:nth-child(odd) {
        background: @colorw;
        .fa-quote-right {
          display: none;
        }
      }
      &:nth-child(even) {
        background: @color1;
        color: @colorw;
        .content {
          padding: 0 100px;
        }
        .fa-stack {
          left: auto;
          right: 0;
        }
        .fa-quote-left {
          display: none;
        }
        .fa-inverse {
          color: @color1;
        }
      }
    }
  }





@media only screen and (max-width: 767px) {


  .testimonials-list {
    .item {
      padding-top: 30px;
      padding-bottom: 30px;
      .content {
        max-width: 100%;
        padding: 0;
      }
      &:nth-child(even) {
        .content {
          padding: 0;
        }
      }
      .fa-stack {
        display: none;
      }
    }
  }


} // rwd

