


// ##############################################################################
// ##############################################################################
// form default

form {
  .form-group {
    position: relative;
  }
  label.error {
    background: #fff;
    font-weight: bold;
    color: red;
    margin-top: 4px;
    padding: 2px 8px;
    position: relative;
    &:before {
      // color, size, position, left, right
      .after-arrow-top(#fff, 7px, -7px, 7px, auto);
    }
    &.valid {
      &:before {
        display: none;
      }
    }
  }

  label.valid {
    bottom: 4px;
    width: 24px;
    height: 24px;
    background: url(/_themes/site/img/global/valid.png) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
    position: absolute;
    right: 20px;
  }

}








// ##############################################################################
// ##############################################################################
// form specific

h2.form-heading {
  color: #fff;
  margin: 0 0 20px;
  .rwd-p(1099px,767px,0px,0px,0px,0px,0px,15px,0px,15px,0,15px,0,15px);
  text-transform: uppercase;
}

.form {
  background: @color2;
  #gradient > .vertical(@start-color: @color2; @end-color: mix(#000,@color2,20%));
  .rwd-p((@site-width-1 + 20),767px,30px,30px,0px,30px,30px,20px,0px,20px,30px,15px,15px,15px);
  h3 {
    margin-top: 0;
    color: @color1;
  }
  .form-control {
    background: #fff;
    border: 1px solid @colorw;
    border-radius: 0;
    color: @color2;
  }
  label {
    color: @colorw;
    font-weight: 600;
  }
  .req {
    font-size: 14px;
  }
}
