
.page-container {
  .rwd-p((@site-width-1 + 20),767px,30px,0px,50px,0px,20px,15px,40px,15px,15px,15px,15px,15px);
}

.page-section-heading {
  color: @color4;
  font-size: @font-size-base * 1.2;
  &.page-nav-heading {
    margin-top: 0;
  }
}
