


.page-header-block {

  .page-heading {
    background: @color2;
    bottom: 0;
    color: @colorw;
    display: inline-block;
    margin: 0;
    min-width: 50%;
    .rwd-p((@site-width-1 - 1),767px,15px,40px,15px,40px,20px,15px,20px,15px,15px,15px,15px,15px);
  }

  &.size-, &.size-sm {
    .page-header {
      &.single-image {
        .item {
          .rwd-height(@screen-md-min,767px,150px,150px,150px);
        }
      }
    }

  } // size

  &.size-md {
    .page-header {
      &.single-image {
        .item {
          .rwd-height(@screen-md-min,767px,300px,200px,200px);
        }
      }
    }
  } // size

  &.size-lg {
    .page-header {
      &.single-image {
        .item {
          .rwd-height(@screen-md-min,767px,370px,250px,200px);
        }
      }
    }
  } // size



}// header block


header.page-header {
border: none;
margin: 0;
padding: 0;
// ^ overrides

position: relative;

}





// rwd



@media only screen and (max-width: (@site-width-1 - 1)) {

header.page-header {


 }

} // rwd







@media only screen and (max-width: @screen-md-min) {


.page-header-block {



}

} // rwd




@media only screen and (max-width: 767px) {


.page-header-block {



}


} // rwd
