
// ##############################################################################
// ##############################################################################
// bootstrap stuff

@font-family-sans-serif:  "Calluna-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       "Calluna", Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base: 19px;

@screen-md: 992px; // < this controls EVERYTHING
//@screen-md-min: @screen-md;
//@grid-float-breakpoint: @screen-md-min;
// @screen-sm-max < @screen-md - 1 (i.e. 991px)

@brand-primary:  #0186c9;





// ##############################################################################
// ##############################################################################
// specific stuff


@site-width-1: 1300px;
@site-width-1-bp: @site-width-1 + 50;
@site-width-2: 1400px;

@color1: #91b55d;
@color2: #343330;
@color3: #0186c9;
@color4: #ddd;
@color5: #0186c9;

// 343330 95b961 7e5920 5d536b 7d6b91

@colorw: #fff;
@colorb: #000;

@color-success: green;
@color-error: #c00;
@color-warning: #c00;


@color-darklight-1: @color3; // needs to be dark if bg is light // includes: ul dots and numbers, wells

.bg-gradient {
  background: @color1;
  #gradient > .vertical(@start-color: @color1; @end-color: mix(#000,@color1,40%));
}



@font-size-h1:            floor((@font-size-base * 2.3)); // ~36px
@font-size-h2:            floor((@font-size-base * 1.8)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.4)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.1)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px
