



  .popup-gallery {
    margin: 0;
    .item {
      display: block;
      float: left;
      height: 250px;
      position: relative;
      width: 25%;

      &:after {
        .overlay-base;
        background: #000;
        opacity: 0;
      }

      .fa {
        position: absolute;
        .center-b;
        opacity: 0.2;
        color: @colorw;
        .transition(1s opacity);
      }

      &:hover {
        .fa {
          font-size: @font-size-base * 2;
          opacity: 1;
          z-index: 20;
        }
        &:after {
          opacity: 0.3;
        }
      }
    }

  }



// RWD



@media only screen and (max-width: 991px) {

  .popup-gallery {
    .item {
      height: 270px;
      position: relative;
      width: 33.33%;
    }
  }

} // rwd



@media only screen and (max-width: 767px) {


  .popup-gallery {
    .item {
      height: 270px;
      position: relative;
      width: 50%;
    }
  }


} // rwd

@media only screen and (max-width: 479px) {

  body {
    .popup-gallery {
      text-align: center;
    }
  }

    .popup-gallery {
    .item {
      height: 270px;
      margin: 0 0 1px;
      position: relative;
      width: 100%
    }
  }


} // rwd
