


.btn-site-search {
  background: @color1;
  border-radius: 200px;
  border: none;
  box-shadow: none;
  color: @color2;
  font-size: 19px;
  font-weight: bold;
  height: 40px;
  padding: 1px 0 0;
  position: absolute;
  right: 0;
  width: 40px;
  z-index: 999;
  .transition(.5s background);
  .vtop;

  &:hover {
    background: @color1;
    color: @colorw;
  }
}






.site-search {
  padding: 5px;

  .input-text-wrap {
    position: relative;
    &:hover {
      .input-text {
        border-color: @color2;
      }
      button {
        background: @color2;
      }
    }
  }
  .input-text-wrap {
    margin: 40px 0;
    max-width: 100%;

  }
  .input-text {
    border: 2px solid @color1;
    border-right: 30px solid @color1;
    border-radius: 3px;
    color: @color2;
    padding: 10px;
    right: 0;

    display: block;
      height: 50px;
      width: 100%;
  }

  button {
    background: @color1;
    border: none;
    border-radius: 3px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 50px;
    width: 50px;
    i {
      color: #fff
    }
    &:hover {
      background: @color2;
    }
  }


  &.results-search-box {
    .input-text-wrap {
      margin: 10px 0;
      max-width: 80%;
    }

  }

}




.site-search-results {
//  .rwd-p(1300px,40px,40px,80px,40px,40px,20px,80px,20px);
  .results-found {
    padding: 20px 0;
  }
  .results {
    a {
      border-left: 10px solid @color1;
      display: block;
      margin-bottom: 10px;
      padding: 10px 60px 10px 10px;
      position: relative;
      .icon {
        background: @color2;
        color: @colorw;
        display: block;
        padding: 10px 20px;
        position: absolute;
        right: 0;
        top: 0;
      }
      .url {
        color: fade(@color2,50%);
      }
      &:hover {
        background: @color1;
        color: @colorw;
        text-decoration: none;
        .url {
          color: @colorw;
        }
      }
    }
    a.two {

    }
    .summary {
      color: #888;
      display: block;
    }
  }
}





@media only screen and (max-width: (@site-width-1 + 10)) {

.btn-site-search {
  right: 15px;
}



}  // rwd



@media only screen and (max-width: 991px) {

.btn-site-search {
  right: 80px;
  top: 17px;
  transform: inherit;
}


// end
} // end max width 979



@media only screen and (max-width: 767px) {



} // RWD




