

.slider {
  position: relative;

  .carousel-indicators {
    bottom: 10px;
    left: 20px;
    top: auto;
    margin: 0;
    width: auto;
    z-index: 2000;
  }
}


// slider core

.slider-page {
  .slider-size {
    .rwd-height(@screen-sm-max,767px,300px,200px,200px);
  }

  &.size-sm {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,200px,150px,150px);
    }
  }
  &.size-md {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,300px,200px,200px);
    }
  }
  &.size-lg {
    .slider-size {
      .rwd-height(@screen-sm-max,767px,370px,250px,200px);
    }
  }

  } //slider




// slider specific

.slider-page {
  .item {
    .content {

      .page-heading {

      }
    }
  }

  } //slider
