


.back-wrapper {
  background: mix(#fff,@color3,85%);
  .rwd-p((@site-width-1 + 20),767px,10px,0px,10px,0px,10px,40px,10px,40px,10px,15px,10px,15px);
}

.btn-back {
  background: @color2;
  border: 1px solid @color2;
  border-right: 10px solid @color2;
  border-radius: 0;
  color: @colorw;
  font-size: @font-size-base * 0.65;
  margin: 0 10px 0 0;
  padding: 6px 8px 5px 29px;
  position: relative;
  text-transform: uppercase;

  .btn-icon {
    background: @color2;
    color: @colorw;
    width: 20px;
  }

  &:hover, &:active, &:focus {
    background-color: @colorw;
    border-color: @color2;
    color: @color2;
    text-decoration: none;
    .btn-icon {
      background: @colorw;
      color: @color2;
    }
    &:after {
      border-color: @color2;
    }
  }
}
