

.btn-list {
  margin: 30px 0 0;
  .btn-list-heading {
    background: #ddd;
    color: #333;
    display: inline-block;
    margin: 0;
    padding: 8px 20px;
  }
  .content {
    padding-top: 10px;
  }
  a {
    background: @color3;
    color: #333;
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 9px 60px 9px;
    position: relative;
    .transition(0.6s all);
    &:hover {
      background: #333;
      color: #fff;
    }
  }
}




.btn-icon {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  width: 40px;

  .fa {
    position: absolute;
    .center-b;
  }

  &.pre {
    left: 0;
  }
  &.post {
    right: 0;
    width: 40px;
  }
}





// buttons





.btn-white {
  background: @colorw;
  border: 1px solid @colorw;
  border-radius: 0;
  color: @color1;
  font-size: @font-size-base * 0.9;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  .transition(.7s background);

  .btn-icon {
    background: @colorw;
    color: @color1;
    width: 40px;
  }

  &.has-icon {
    padding: 10px 50px 8px 20px;
  }

  &:hover, &:active, &:focus {
    background: @color1;
    border-color: @colorw;
    color: @colorw;
    text-decoration: none;
    .btn-icon {
      background: @colorw;
      color: @color1;
    }
  }

}









  // btns
.btn-submit {
  background: @color1;
  border: 1px solid @color1;
  border-left: 10px solid @color1;
  border-radius: 0;
  color: @color2;
  font-size: @font-size-base * 0.95;
  margin: 10px 0;
  padding: 10px 70px 10px 20px;
  position: relative;
  .transition(0.6s all);

  .btn-icon {
    background: @color1;
    color: @color2;
    width: 40px;
  }

  &:hover, &:active, &:focus {
    background: @color2;
    border-color: @color1;
    color: @color1;
    text-decoration: none;
    .btn-icon {
      background: @color1;
      color: @color2;
    }
  }

  &.btn-sm {
    font-size: @font-size-base * 0.8;
    padding: 5px 40px 5px 10px;
    .btn-icon {

      width: 30px;
    }
  }

}







.global-btn {
  background: @color3;
  border: 1px solid @color3;
  bottom: 5px;
  border-radius: 200px;
  color: @colorw;
  height: 35px;
  padding-top: 5px;
  position: fixed;
  text-align: center;
  width: 35px;

  &.back {
    right: 48px;
  }

  &.top {
    right: 5px;
  }

  &:hover, &:active, &:focus {
    background: @colorw;
    color: @color3;
  }
}




