


.btn-one {
  background: @color1;
  border: 1px solid @color1;
  border-radius: 0;
  color: @colorw;
  font-size: @font-size-base * 0.9;
  margin: 0 10px 10px 0;
  padding: 10px 20px;
  position: relative;
  text-transform: uppercase;
  .transition(.7s background);

  .btn-icon {
    background: @color1;
    color: @colorw;
    width: 40px;
  }

  &.has-icon {
    padding: 10px 50px 8px 20px;
  }

  &:hover, &:active, &:focus {
    background: @colorw;
    border-color: @color1;
    color: @color1;
    text-decoration: none;
    .btn-icon {
      background: @color1;
      color: #fff;
    }
  }

}
