



// ##############################################################################
// ##############################################################################
// iframe stuff



.rwd-iframe-wrapper {
  display: inline-block;
}
.rwd-iframe  {
  position: relative;
  padding-bottom: 50%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.rwd-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rwd-iframe-sm {
  .rwd-iframe-wrapper {
    width: 50%;
  }
}

.rwd-iframe-lg {
  .rwd-iframe-wrapper {
    width: 100%;
  }
}




// ##############################################################################
// ##############################################################################
// rwd


@media only screen and (max-width: 767px) {

.rwd-iframe-lg {
  .rwd-iframe-wrapper {
    width: 95%;
  }
}

}

@media only screen and (max-width: 767px) {

.rwd-iframe  {
  padding-bottom: 70%;
}

}


