
// ##############################################################################
// ##############################################################################
// map stuff


.gmap-iframe {
.rwd-p((@site-width-1 + 20),767px,10px,0px,10px,0px,10px,40px,10px,40px,10px,15px,10px,15px);
}


section.gmap {
  .btn {
    margin: 20px 40px;
  }
}
.gmap-link {
  display: block;
  min-height: 400px;
  position: relative;
  width: 100%;
  img {
  border: 2px solid @color1;
  }
  &:before {
  .overlay-dark;
    opacity:0;
  }
  &:hover {
    .overlay-icon {
      opacity: 1;
    }
    &:before {
      opacity: 0.3;
    }
  }
}


// map stuff



.gmap-image {
  img {
    border: 2px solid @color2;
    padding: 1px;
  }
  &:hover {
    img {
      border-color: @color1;
      opacity: 0.8;
    }
  }
}


.full-map {
  .section-heading {
    .rwd-p(1099px,767px,0px,0px,0px,0px,0px,40px,0px,40px,0,15px,0,15px);
    text-transform: uppercase;
  }
  .gmap-image {
    height: 350px;
    margin: 1px 0 0px;
    position: relative;
    .btn {
      bottom: 20px;
      left: 20px;
      position: absolute;
    }
    &:hover {
      .btn {
        z-index: 2000;
      }

      .overlay-link {
        background: fade(#000,30%);
        opacity: 1;
      }
    }
  }
}



