


// messages


.message {
  border: 1px solid #999;
  color: #666;
  margin: 20px 0;
  padding: 10px 20px 20px 110px;
  position: relative;
  .heading {
    margin-top: 13px;
  }
  .fa {
    left: 40px;
    position: absolute;
    top: 45px;
  }
  ul li {
    margin-bottom: 10px;
  }

  &.message-error {
    color: @color-error;
    border: 1px solid @color-error;
    .fa {
      color: @color-error;
    }
  }

  &.message-success {
    border-color: @color-success;
    color: @color-success;
    .fa {
      color: @color-success;
      margin-left: 0;
    }
  }

  &.message-warning {
    color: darken(@color-warning, 20%);
    border: 1px solid @color-warning;
  }

}



