




// ##############################################################################
// ##############################################################################
// mixins


.site-width {
  max-width: @site-width-1;
}
.site-width-centered {
  max-width: @site-width-1;
  margin: 0 auto;
}
.site-width-2 {
  max-width: @site-width-2;
}
.site-width-2-centered {
  max-width: @site-width-2;
  margin: 0 auto;
}


@media only screen and (min-width: (@site-width-1 + 20)) {

  .site-width-centered {
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
    }
  }

} // rwd





.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
  &.site-width-centered {
    margin: 0 auto;
  }
}






.vtop, .center-v {
top: 50%;
.translate(0,-50%);
}
.center-h {
left: 50%;
.translate(-50%,0);
}
.center-b {
left: 50%;
top: 50%;
.translate(-50%,-50%);
}




.pseudo-item(@top, @right, @bottom, @left, @height, @width) {
  bottom: @bottom;
  content: "";
  display: inline-block;
  height: @height;
  left: @left;
  position: absolute;
  right: @right;
  top: @top;
  width: @width;
}




.after-arrow-top(@arrow-color, @arrow-size, @arrow-pos, @arrow-left, @arrow-right) {
  border-bottom: @arrow-size solid @arrow-color;
  border-left: @arrow-size solid transparent;
  border-right: @arrow-size solid transparent;
  content: "";
  display: inline-block;
  left: @arrow-left;
  position: absolute;
  right: @arrow-right;
  top: @arrow-pos;
}





// rwd


@media only screen and (max-width: 991px) {



} // rwd



