

body {

  .modal {
    top: 120px;

    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        max-height: 57vh;
        overflow-y: auto;
    }


    .modal-content {
      border: 1px solid @color2;
      background: @color2;
    }
    .modal-header {
      background: #fff;
      border: none;
      text-align: center;
      h4 {
        color: @color2;
      }
      .close {
        background: #fff;
        border-radius: 100px;
        color: #c00;
        height: 30px;
        opacity: 1;
        width: 30px;
      }
    }
    .modal-title {
      color: #fff;
      font-weight: 400;
    }
    &.modal-error {
      .modal-body {
        background: #fff;
        padding: 10px;
        .modal-message {
          border: 2px solid #c00;
          color: #c00;
          padding: 15px;
          .fa-times {
            display: block;
          }
        }
      }
    }
  }

} //body
