
body {


  -webkit-font-smoothing: antialiased; /* This needs to be set or some font faced fonts look bold on Mac in Chrome/Webkit based browsers. */
  -moz-osx-font-smoothing: grayscale; /* Fixes font bold issue in Firefox version 25+ on Mac */



.btn {
  white-space: normal;
}


  .dropdown-menu {
    // overrides
  border: none;
  border-radius: 0;
  box-shadow: none;
  }

  pre, code {
    display: block;
    padding: inherit;
    margin: inherit;
    font-size: @font-size-base;
    font-family: @font-family-base;
    line-height: inherit;
    word-break: normal;
    word-wrap: normal;
    color: inherit;
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    white-space: normal;
    overflow: visible;
  }

  .pagination {
    margin: 0;
  }



} // body override








// ##############################################################################
// ##############################################################################
// rwd

@media only screen and (max-width: 991px) {

body {
  word-wrap: break-word;

  .navbar-nav .open .dropdown-menu {
    position: absolute;
  }


  .btn {
    white-space: normal;
  }


} //body
} //rwd


