
// overlays


.overlay-base {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  text-decoration: none;
  top: 0;
  width: 100%;
  .transition(1s all);
}


.overlay-icon {
  border-radius: 200px;
  display: block;
  left: 50%;
  height: 60px;
  margin-left: -30px;
  opacity: 0;
  padding-top: 18px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 50;
  .transition(1s opacity);
  .vtop;
  &.w {
    background: fade(#fff,70%);
  }
}



.overlay-link {
  .overlay-base;
  z-index: 45;

 /*workaround to make clickable in IE */
  background-color:white;
  opacity: 0;
  filter: alpha(opacity=1);
}


.overlay-dark {
  .overlay-base;
  background: #000;
  opacity: 0.1;
  z-index: 10;
}


.overlay-light {
  .overlay-base;
  background: #fff;
  opacity: 0.1;
  z-index: 10;
}


.overlay-main(@background,@opacity,@zindex) {
  .overlay-base;
  background: @background;
  opacity: @opacity;
  z-index: @zindex;
}



