
// ##############################################################################
// ##############################################################################
// core

// RWD mixins FTW!
.rwd-mixin(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
      @rules();
  }
}

.rwd-mixin-2(@maxWidth; @rules) {
  @media only screen and (max-width: @maxWidth) {
      @rules();
  }
}






// ##############################################################################
// ##############################################################################
// padding

// .rwd-p(@screen-sm-max,767px,40px,15px,40px,15px,15px,15px,15px,15px,15px,15px,15px,15px);
.rwd-p(@rwd-w;@rwd-w-2;@top;@right;@bottom;@left;@rwdtop;@rwdright;@rwdbottom;@rwdleft;@rwd-2-top;@rwd-2-right;@rwd-2-bottom;@rwd-2-left) {
  padding-bottom: @bottom;
  padding-left: @left;
  padding-right: @right;
  padding-top: @top;
  .rwd-mixin(@rwd-w, {
    padding-bottom: @rwdbottom;
    padding-left: @rwdleft;
    padding-right: @rwdright;
    padding-top: @rwdtop;
  });
  .rwd-mixin-2(@rwd-w-2, {
    padding-bottom: @rwd-2-bottom;
    padding-left: @rwd-2-left;
    padding-right: @rwd-2-right;
    padding-top: @rwd-2-top;
  });
}




// ##############################################################################
// ##############################################################################
// height

// .rwd-height(@screen-sm-max,767px,40px,15px,40px);
.rwd-height(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  height: @value1;
  .rwd-mixin(@rwd-w, {
    height: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    height: @value3;
  });
}








// ##############################################################################
// ##############################################################################
// min height

// .rwd-min-height(@screen-sm-max,767px,40px,15px,40px);
.rwd-min-height(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  min-height: @value1;
  .rwd-mixin(@rwd-w, {
    min-height: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    min-height: @value3;
  });
}






// ##############################################################################
// ##############################################################################
// width

// .rwd-width(@screen-sm-max,767px,40px,15px,40px);
.rwd-width(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  width: @value1;
  .rwd-mixin(@rwd-w, {
    width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    width: @value3;
  });
}





// ##############################################################################
// ##############################################################################
// max-width

// .rwd-max-width(@screen-sm-max,767px,40px,15px,40px);
.rwd-max-width(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  max-width: @value1;
  .rwd-mixin(@rwd-w, {
    max-width: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    max-width: @value3;
  });
}






// ##############################################################################
// ##############################################################################
// display

// .rwd-display(@screen-sm-max,767px,none,block,block);
.rwd-display(@rwd-w;@rwd-w-2;@value1;@value2;@value3) {
  display: @value1;
  .rwd-mixin(@rwd-w, {
    display: @value2;
  });
  .rwd-mixin-2(@rwd-w-2, {
    display: @value3;
  });
}





