
body {
  color: @color2;
  font-weight: 400;
  p {
    line-height: 1.8;
    margin-bottom: 17px;
  }
}

strong {
  font-weight: 600;
}

hr {
  clear: both;
}

.text-caps {
  text-transform: capitalize;
}
.text-lower {
  text-transform: lowercase;
}
.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

h2,h3,h4 {
  text-transform: uppercase;
}

h1 {
  color: @color1;
  font-weight: 400;
  text-transform: capitalize;
}

h2 {
  font-weight: 300;
  color: @color3;
  text-transform: capitalize;
}

h3 {
  font-weight: 600;
  color: @color2;
  line-height: 1.4;
  text-transform: capitalize;
}

h4 {
  color: @color2;
  font-weight: 200;
  margin: 20px 0 10px;
}

a {
  color: @color2;
  &:hover {
    color: @color4;
  }
}


hr {
  background-color:lighten(@color3, 45%);
  color: lighten(@color3, 45%);
}

hr.md {
  background-color:lighten(@color3, 30%);
  border-width: 3px;
  color: lighten(@color3, 30%);
}



blockquote {
  border-left: 5px solid #eeeeee;
  color: @color2;
  font-size: @font-size-base * 1;
  margin: 0 0 24px;
  .rwd-p((@site-width-1 - 1),767px,10px,10%,10px,30px,30px,40px,30px,40px,30px,15px,30px,15px);
  }




.fancy-lists {
   ol, ul {
      margin: 0 0 25px;
      padding: 0;
      li {
        position: relative;
        &:last-child {
          margin-bottom: 0;
        }
        ol, ul {
     //     background: fade(@color-darklight-1, 10%);
          border: none;
          margin-top: 10px;
          padding: 15px;
          li {
            font-size: 15px;
          }
        }
        ul {
          &:before {
            height: 10px;
            padding: 1px 0 0 6px;
            width: 10px;
          }
        }
      }
    }
    ol, ul {
      counter-reset: li;
      list-style-type: none;
      li:before {
        color: @color-darklight-1;
        counter-increment: li;
        display: inline-block;
        font-size: 0.85714em;
        font-weight: 700;
        margin: 0 20px 0 0;
      }
    }
    ol {
      li {
        margin: 0 0 15px 0;
        &:before {
          content: counter(li, decimal);
          padding: 1px 0 0 5px;
        }
      }
    }

    ul {
      li {
        margin: 0 0 15px 0;
        &:before {
          background: @color-darklight-1;
          border-radius: 100px;
          content: "";
          height: 10px;
          padding: 2px 0 0 7px;
          width: 10px;
        }
      }
    }

    &.fancy-lists-white {
      ol, ul {
        li:before {
          color: @colorw;
        }
      }
      ul {
        li {
          &:before {
            background: @colorw;
          }
        }
      }
    }
}
