

.content-blocks {

  .block-gallery {
    margin: 30px 0;
  }


} //.content-blocks



// ##############################################################################
// ##############################################################################
// rwd
