

  .block-single-image {
    margin: 0 0 30px;
    .rwd-p(1199px,767px,0px,0px,0px,0px,0px,40px,0px,40px,0px,15px,0px,15px);
    position: relative;
    img {

    }
    figcaption {
      border-bottom: 1px solid @color1;
      color: mix(#fff,@color2,30%);
      display: inline-block;
      margin: 5px 0;
      padding-bottom: 5px;
    }
  }



.content-blocks {


  .block-full-image {
    margin: 0;
    position: relative;

    .image {
      height: 100%;
      position: relative;
    }

    h1 {
      bottom: 40px;
      color: #fff;
      font-size: @font-size-base * 2.3;
      font-weight: 600;
      left: 40px;
      margin: 0;
      max-width: 50%;
      padding: 10px 20px;
      position: absolute;
      text-transform: uppercase;
      text-align: left;
      z-index: 20;
    }
    &.image-lg {
      height: 400px;
    }
    &.image-md {
      height: 250px;
    }
    &.image-sm {
      height: 150px;
    }


  }



} //.content-blocks







// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: 767px) {

.content-blocks {



  .block-full-image {
    .image {
      float: none;
      height: 180px;
      width: 100%;
    }
    .content {
      float: none;
      height: auto;
      width: 100%;
    }
    h1 {
      background: @color1;
      bottom: auto;
      left: auto;
      font-size: @font-size-base * 1.6;
      max-width: 10000px;
      padding: 20px;
      position: relative;
      right: auto;
      text-align: left;
    }

    &.image-sm, &.image-md, &.image-lg {
      height: auto;

    }
}


} // blocks
} // rwd



