


.content-blocks {


  .block-text {
    margin: 30px 0 0;
    .rwd-p(@site-width-1-bp,767px,0px,0px,0px,0px,0px,40px,0px,40px,0px,15px,0px,15px);
    a {
      color: @color2;
      font-weight: 400;
      text-decoration: underline;
      &:hover {
        color: @color4;
      }
    }
  }





// ##############################################################################
// ##############################################################################
// downloads


  .block-downloads {


  }




// ##############################################################################
// ##############################################################################
// links


  .block-links {


  }





// ##############################################################################
// ##############################################################################
// cta


  .block-cta {

    padding: 10px 20px;
    text-align: center;
    a {
      .btn-action;
      text-decoration: none;
      margin: 0 20px 10px 0;
    }
  }






// ##############################################################################
// ##############################################################################
// video


  .block-video {
    background: @color4;
    margin: 30px 0 0;
    padding: 50px 0;
    text-align: center;
    h3 {
      color: #fff;
      font-size: @font-size-base * 1.5;
      font-weight: bold;
      margin: -20px 0 20px;
    }
  }





// ##############################################################################
// ##############################################################################
// scroll to


  .block-scroll {
    margin-top: 30px;
  }






// ##############################################################################
// ##############################################################################
// break



  .block-break {

  }



} // block





// ##############################################################################
// ##############################################################################
//
// ##############################################################################
// ##############################################################################
//
// ##############################################################################
// ##############################################################################
// rwd









@media only screen and (max-width: 767px) {

.content-blocks {

  .block-text {
    padding: 0 15px 30px;
  }



  .block-cta {
    a {
      display: block;
      margin-left: 20px;
    }
  }



} // end blocks
} // rwd



