
.content-blocks {

  .block-link-boxes {
    padding: 40px 0 0;
    text-align: center;
    .item {
      display: inline-block;
      height: 160px;
      margin: 0 2% 30px;
      position: relative;
      text-transform: uppercase;
      width: 20%;
      .transition(.3s linear all);

        span {
          background: fade(#000,30%);
          border-radius: 3px;
          color: #fff;
          display: block;
          left: 10%;
          letter-spacing: 0.03em;
          font-size: @font-size-base * 0.9;
          font-weight: 600;
          margin-top: 0;
          padding: 10px;
          position: absolute;
          text-align: center;
          top: 50%;
          // OMFG OMG OMF FFF OMG IT VERTICALLY ALIGNS OMG
          transform: translateY(-50%);
          width: 80%;
        }

      &:hover {
        opacity: 0.7;
        span {
          background: @color1;
          color: #fff;
        }
      }
    }
  }




} //.content-blocks




// ##############################################################################
// ##############################################################################
// rwd




@media only screen and (max-width: 767px) {

.content-blocks {

  .block-text {
    padding: 0 15px 30px;
  }


  .block-link-boxes {
    .item {
      width: 28%;
    }
  }


}// blocks
}// rwd





@media only screen and (max-width: 599px) {

.content-blocks {


  .block-link-boxes {
    padding: 30px 20px 0;
    .item {
      width: 440px;
    }
  }



} // end blocks
} // rwd



