
  .block-media {
    margin: 0 0 30px;
    .rwd-p((@site-width-1 + 15),767px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px);

    .block-content {
      &.no-image {
        .rwd-max-width(@screen-sm-max,767px,70%,85%,100%);
      }
    }

    .images {
      float: left;
      margin: 0 30px 30px 0;
      max-width: 350px;
      .image {
        margin-bottom: 20px;
      }

      &.size-md {
        max-width: 550px;
      }
      &.size-lg {
        max-width: 700px;
      }

      &.side-right {
        float: right;
        margin: 0 0 30px 30px;
      }

    }//images

    a {
      color: lighten(@color1, 20%);
      text-decoration: underline;
      &:hover {
        color: @color1;
      }
    }
  }








// ##############################################################################
// ##############################################################################
// rwd



@media only screen and (max-width: @screen-sm-max) {

  .block-media {

    .images {
      max-width: 250px;
      &.size-md {
        max-width: 400px;
      }
      &.size-lg {
        max-width: 450px;
      }

    }//images

  }


}// rwd




@media only screen and (max-width: 767px) {

  .block-media {

    .images {
      float: none;
      margin: 0;
      max-width: 100%;
      &.size-md {
        max-width: 100%;
      }
      &.size-lg {
        max-width: 100%;
      }

      &.side-right {
        float: none;
        margin: 0;
      }

    }//images

  }


}// rwd
