

.content-blocks {

  .block-hero {
    margin-top: 30px;
    overflow: hidden;
    position: relative;

    &:after {
      .overlay-main(@color1,1,10);
      background: @color1;
      #gradient > .horizontal(@start-color: mix(#fff,@color1,10%); @end-color: mix(#000,@color1,40%));
    }

    .image {
      height: 100%;
      position: absolute;
      width: 25%;
      z-index: 99;
    }
    .content {
      float: left;
      min-height: 200px;
      position: relative;
      z-index: 99;

      h3 {
        color: @colorw;
        font-size: @font-size-base * 1.2;
        font-weight: 100;
        line-height: 1.8;
        margin: 0;
        padding: 40px 60px;
      }
      .btn-item {
        background: #fff;
        border-radius: 0;
        bottom: 10px;
        padding: 10px 20px;
        position: absolute;
        right: 70px;
        .fa {
          margin-left: 10px;
        }
      }
      &.has-btn {
        h3 {
          padding: 40px 60px 60px;
        }
      }
    }
    &.orient-left {
      padding-left: 25%;
      .image {
        left: 0;
      }
    }

    &.size-lg {
      .image {
        width: 40%;
      }
      .content {
        min-height: 360px;
      }

      &.orient-left {
        padding-left: 40%;
      }
    }

  }



  .block-quote {
    margin: 30px 0;
    .item {
      background: @color1;
      color: @colorw;
   //   .rwd-p(767px,40px,80px,40px,150px,30px,30px,30px,30px);
      position: relative;

      p {
        line-height: 1.5;
      }
      .fa-stack {
        left: 40px;
        position: absolute;
        top: 50%;
        // OMFG OMG OMF FFF OMG IT VERTICALLY ALIGNS OMG
        transform: translateY(-50%);
      }
      .fa-inverse {
        color: @color1;
      }

      &.color-one {
        background: @color1;
        color: @colorw;
        .fa-inverse {
          color: @color1;
        }
      }

      &.color-two {
        background: @color2;
        color: @colorw;
        .fa-inverse {
          color: @color2;
        }
      }

      &.color-three {
        background: @color3;
        color: @colorw;
        .fa-inverse {
          color: @color3;
        }
      }

/*

      &.has-image {
        overflow: hidden;
        .item-image {
          height: 300px;
          position: absolute;
          top: 0;
          width: 400px;
        }
      }

      &.orient-left.has-image {
        padding-right: 440px;
        .item-image {
          right: 0;
        }
      }

      &.orient-right.has-image {
        padding-left: 440px;
        .item-image {
          left: 0;
        }
      }

      */

    } // item
  } // parent


} //.content-blocks




// ##############################################################################
// ##############################################################################
// rwd






@media only screen and (min-width: 768px) {

.content-blocks {
    .block-quote {
      .item {

      &.orient-left {
        padding-left: 150px;
        padding-right: 80px;
        .fa-stack {
          left: 40px;
        }
      }

      &.orient-right {
        padding-left: 80px;
        padding-right: 150px;
        .fa-stack {
          left: auto;
          right: 40px;
        }
      }

      }
    }
  }
} // rwd



@media only screen and (max-width: 767px) {
.content-blocks {


  .block-quote {
    .item {
      .fa-stack {
        bottom: 15px;
        left: auto;
        opacity: 0.3;
        right: 15px;
        top: auto;
        transform: none;
      }
    }
  }



  .block-hero {
    .image {
      height: 180px;
      position: static;
      width: 100%;
    }
    .content {
      width: 100%;
      h3 {
        padding: 30px;
      }
    }

    &.orient-left, &.orient-right {
      padding: 1px;
    }
  }





}// block
}// rwd
