

.content-blocks {


  .block-table {
    padding: 30px;
    table {
      border: 1px solid @color4;
      margin: 0;
      padding: 0;
    }
    tr {
      &:hover {
        td {
          background: @color4;
          color: #fff;
        }
        a {
          color: #fff;
        }
      }
    }
    th {
      background: mix(#fff,@color4,80%);
      border: 1px solid @color4;
      color: @color4;
    }
    td {
      border-color: mix(#fff, @color4, 20%);
      p {
        margin: 0;
      }
      a {
        color: @color2;
        display: block;
        text-decoration: underline;
        .fa {
          color: @color2;
          margin-left: 10px;
        }
        &:hover {
          color: #fff;
        }
      }
    }

  }




  .block-info {
    .rwd-p(1199px,767px,0px,0px,0px,0px,0px,40px,0px,40px,0px,15px,0px,15px);
    .block-section-heading {
      border-color: mix(#fff, @color2, 20%);
      span {
        background: @color2;
        color: #fff;
      }
    }
    .content {
      border: 1px solid mix(#fff, @color2, 20%);
      border-bottom-width: 4px;
    }
    table {
      margin: 0;
      padding: 0;
    }
    td {
      border-color: mix(#fff, @color2, 20%);
      padding: 5px 20px;
      text-align: left;
      a {
        color: @color2;
        display: block;
        text-decoration: underline;
        .fa {
          color: @color2;
          margin-left: 10px;
        }
        &:hover {
          color: @color2;
        }
      }
    }
    .info-heading {
      background: mix(#fff, @color2, 80%);
      color: @color2;
      font-weight: 600;
    }
    .info-content {
      color: @color2;
    }
  }





} //.content-blocks


// ##############################################################################
// ##############################################################################
// rwd
