
<ul class="archives">
{% for month,items in archives_data %}
    <li>
      <a href="{{ base_url }}/archives_month:{{ month|date('M_Y')|lower|e('url') }}">
        <span class="archive_date">{{ month }}</span>
        {% if archives_show_count %}
        <span>({{ items|length }})</span>
        {% endif %}
        </a>
    </li>
{% endfor %}
</ul>
