<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
{% block head %}
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

{% if grav.config.environment == site.hv.dev and site.hv.netz == false %}
{% else %}
<script src="https://use.typekit.net/nfz5lcv.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="https://use.fontawesome.com/e8f88fa122.js"></script>
{% endif %}

<meta charset="utf-8" />
<title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

<meta name="description" content="Bairnsdale Spinal Sports & Manipulative Therapy is the private practice of Kaye McNeill. Kaye is a Musculoskeletal physiotherapist with over 30 years clinical experience in private practice. Kaye moved to Bairnsdale in 1994 for a lifestyle change after being principal physiotherapist of Canterbury and Box Hill physiotherapy clinics for 13 years.">
<meta name="keywords" content="Kaye Mcneill, Physiotherapy, Bairnsdale">
<meta name="author" content="https://www.eastgippslanddesign.com.au/">

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="{{ theme_url }}/css/site.css">
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![/if]-->

{% if grav.config.environment == site.hv.dev  %}
  {{ assets.css() }}

  {% block javascripts %}
      {% do assets.add('jquery',101) %}
  {% endblock %}
  {{ assets.js() }}
{% endif %}

{% endblock head%}
</head>
<body id="top" class="page-{{ grav.uri.paths.0 }} template-{{ page.template }} site-width-centered">

{% block header %}
<header class="global" id="top">
    {% block header_navigation %}
         {% include 'partials/nav/nav-primary.html.twig' %}
    {% endblock %}
</header>
{% endblock %}


{% block body %}
<section id="main-content" class="main-content">
    {% block content %}{% endblock %}
</section>
{% endblock %}

{% block footer %}
  <div class="tagline-footer">
    <h1>"Excellent diagnosis leads to excellent treatment"</h1>
    <h3>Bairnsdale Spinal Sports & Manipulative Therapy - 30 Louise Drv, Lucknow VIC 3875 <br> Phone: {{ site.gv.phone }}  |  Fax: {{ site.gv.fax }}  |  {{ site.gv.email }}</h3>
  </div>
<footer class="global">
  <div class="copyright">
      {{ "now"|date("Y") }} &copy;  All Content Copyright Kaye McNeill | {{ site.title }}
  </div>

  <div class="site-author">
    <a target="_blank" class="" href="{{ site.author.url }}">Professional Website design &amp; development by {{ site.author.name }}</a>
</div>
</footer>

<a onclick="history.go(-1);" href="/contact" class="global-btn back"><i class="fa fa-arrow-left"></i> </a>
<a href="#top" class="global-btn top"><i class="fa fa-arrow-up"></i> </a>

<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-search-label">Site Search</h4>
      </div>
      <div class="modal-body">


      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block bottom %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{% if page.template == 'home' %}
<script type="text/javascript" src="{{ theme_url }}/js/matchheight.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  if ($(window).width() < 768) {
    $('.jqmh').matchHeight({ remove: true });
  }
});
</script>
{% endif %}

{% if page.template == "gallery" or page.header.gallery %}
  <script type="text/javascript" src="{{ theme_url }}/js/magnific.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
  $('.popup-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
      titleSrc: function(item) {
        return item.el.attr('title');
      }
    }
  });
});
  </script>
{% endif %}

<script>
    window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
    ga('create','UA-102049496-1','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

{% endblock %}
</body>
</html>
