
{{ content_blocks }}

{{ if type == "content_set" }}

{{#
<div class="block-text">
{{ text|markdown }}
</div>
#}}

{{ elseif type == "media_set" }}
{{ partial:content-blocks/media }}



{{ elseif type == "download_set" }}
<div class="btn-list paragraph-downloads">
<h4 class="paragraph-section-heading"><span>Downloads</span></h4>
<div class="content">
{{ downloads }}
<a target="_blank" href="{{ file }}"><span class="btn-icon pre"><i class="fa fa-file"></i></span> {{ text }} <span class="btn-icon post"><i class="fa fa-arrow-down"></i></span></a>
{{ /downloads }}
</div>
</div>

{{ elseif type == "link_set" }}
<div class="btn-list paragraph-links">
<h4 class="paragraph-section-heading"><span>Links</span></h4>
<div class="content">
{{ links }}
<a target="_blank" href="{{ link }}"><span class="btn-icon pre"><i class="fa fa-link"></i></span> {{ text }} <span class="btn-icon post"><i class="fa fa-arrow-right"></i></span></a>
{{ /links }}
</div>
</div>

{{ elseif type == "info_set" }}
<div class="paragraph-info">
<h4 class="paragraph-section-heading"><span>{{ heading }}</span></h4>
<div class="content">
<div class="table-responsive">
<table class="table">
{{ info }}
<tr>
  <td class="info-heading">{{ heading }}</td>
  <td class="info-content">{{ if link }}<a target="_blank" href="{{ link }}">{{ content }} <i class="fa fa-angle-double-right"></i></a>{{ else }} {{ content }} {{ endif }}</td>
</tr>
{{ /info }}
</table>
</div>
</div>
</div>


{{ elseif type == "button_set" }}
<div class="paragraph-cta">
{{ cta }}
<a rel="pagescroll" title="{{ text }}" href="{{ link }}">{{ text }} <span class="btn-icon post"><i class="fa fa-angle-double-right"></i></span></a>
{{ /cta }}
</div>

{{ elseif type == "quote_set" }}

<div class="paragraph-quote">
{{ theme:partial src="paragraph-testimonials" var_related="{{ quote:0:related }}" var_orient="{{ quote:0:orient }}" var_color="{{ quote:0:color }}" }}
</div>

{{ elseif type == "gallery_set" }}
<div class="paragraph-gallery magnific-gallery popup-gallery clearfix">
{{ gallery }}
<a class="item" style="background: #fff url('{{ transform src="{ photo }" width="300" height="300" action="smart" quality="90" }}') center center; background-size:cover;" href="{{ transform src="{ photo }" width="1000" height="700" action="resize" }}" title="{{ caption }}"> <i class="fa fa-search-plus fa-2x"></i></a>
{{ /gallery }}
</div>

{{ elseif type == "image_set" }}
<figure class="paragraph-image">
{{ image }}

{{ if orient == "pt" }}

{{ if size == "lg" }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="714" height="1000" action="{ action }" }}" />
{{ elseif size == "md" }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="430" height="600" action="{ action }" }}" />
{{ else }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="214" height="300" action="{ action }" }}" />
{{ endif }}

{{ elseif orient == "ls" }}

{{ if size == "lg" }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="1000" height="714" action="{ action }" }}" />
{{ elseif size == "md" }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="600" height="430" action="{ action }" }}" />
{{ else }}
<img class="img-responsive" src="{{ transform src="{ photo }" width="300" height="214" action="{ action }" }}" />
{{ endif }}

{{ endif }}

{{ if caption }}
<figcaption> {{ caption }}</figcaption>
{{ endif }}
{{ /image }}
</figure>


{{ elseif type == "page_image_set" }}
{{ page_image }}
{{ if size == "lg" }}
<div class="paragraph-full-image image-lg clearfix">
  <div class="image" style="background: #333 url('{{ transform src="{ photo }" width="1400" height="400" action="smart" quality="100" }}') center center; background-size:cover;"></div>
  <div class="content">
{{ if caption }}<h1>{{ caption }}</h1>{{ endif }}
  </div>
</div>
{{ elseif size == "md" }}
<div class="paragraph-full-image image-md clearfix">
  <div class="image" style="background: #333 url('{{ transform src="{ photo }" width="1400" height="250" action="smart" quality="100" }}') center center; background-size:cover;"></div>
  <div class="content">
{{ if caption }}<h1>{{ caption }}</h1>{{ endif }}
  </div>
</div>
{{ else }}
<div class="paragraph-full-image image-sm clearfix">
  <div class="image" style="background: #333 url('{{ transform src="{ photo }" width="1400" height="150" action="smart" quality="100" }}') center center; background-size:cover;"></div>
  <div class="content">
{{ if caption }}<h1>{{ caption }}</h1>{{ endif }}
  </div>
</div>
{{ endif }}
{{ /page_image }}


{{ elseif type == "link_boxes_set" }}
<div class="paragraph-link-boxes clearfix">
{{ link_boxes }}
<a class="item item-{{ index }}" href="{{ link }}" rel="pagescroll" style="background:url('{{ transform src="{ img }" width="240" height="200" action="smart" quality="90" }}') center center; background-size:cover;"> <span>{{ text }}</span></a>
{{ /link_boxes }}
</div>

{{ elseif type == "video_set" }}
<div class="paragraph-video rwd-iframe-{{ video:0:size }}">
{{ if video:0:heading }}<h3>{{ video:0:heading }}</h3>{{ endif }}
<div class="rwd-iframe-wrapper">
<div class="rwd-iframe">
{{ video }}
{{ if type =="youtube" }}
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ link }}" frameborder="0" allowfullscreen></iframe>
{{ else }}
<iframe src="https://player.vimeo.com/video/{{ link }}" width="500" height="194" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
{{ endif }}
{{ /video }}
</div>
</div>
</div>

{{ elseif type == "scroll_set" }}
<div class="paragraph-scroll" id="{{ scroll }}"></div>


{{ elseif type == "col_set" }}
  {{ theme:partial src="paragraphs/col" use_context="yes" }}


{{ elseif type == "hero_set" }}
  {{ hero }}
  <div class="paragraph-hero orient-{{ orient }} size-{{ size }} clearfix">
    <div class="image" style="background: url('{{ transform src="{ img }" width="600" height="400" action="smart" quality="90" }}') center center; background-size:cover;"></div>
    <div class="content">
      <h3 class="text">{{ text }}</h3>
    </div>
    {{ if link }}
      <a href="{{ link }}" class="overlay-link"></a>
    {{ endif }}
  </div>
  {{ /hero }}

  {{ elseif type == "table_set" }}
  <div class="paragraph-table">
    <div class="table-responsive">
      <table class="table table-bordered">
      {{ tabular }}
        {{ if first && headers == "yarb" }}
          <thead>
            <tr>
              {{ cells }}
                <th>{{ value }}</th>
              {{ /cells }}
            </tr>
          </thead>
          <tbody>
        {{ /if }}
        {{ if !first && headers == "yarb" || headers == "narb" }}
          {{ if first }}
            <tbody>
          {{ /if }}
            <tr>
              {{ cells }}
                <td>{{ value|markdown }}</td>
              {{ /cells }}
            </tr>
          {{ if last }}
            </tbody>
          {{ /if }}
        {{ /if }}
      {{ /tabular }}
    </table>
  </div>
</div>

{{ elseif type == "break_set" }}
  {{ break }}
  <div class="paragraph-break" style="margin-top:{{ above }}px;padding-bottom:{{ below }}px;{{ if border == 'got'}}border-top:2px dashed #ccc;{{ endif }}"></div>
  {{ /break }}
{{ endif }}



{{ /content_blocks }}

