
<div class="site-width-centered">

<div class="clearfix page-header-block size-{{ page.header.page_header_size }}">

{% if page.header.page_header|length > 1 %}
<header class="page-header slider">
<div class="slider-page size-{{ page.header.page_header_size }}">
  <div id="slider-page" class="carousel slide" data-ride="carousel" data-interval="8000">
   <ol class="carousel-indicators">
{% for item in page.header.page_header %}
  <li data-target="#slider-page" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %} active{% endif %}"></li>
{% endfor %}
  </ol>
    <div class="carousel-inner">
{% for item in page.header.page_header %}
{% set var_first = (loop.first) ? 'active' : '' %}
{% for image in item.image %}
<div class="item {{ var_first }}">
<div class="slider-size" style="background:url('{{ page.media[image.name].cropZoom(900,333).quality(100).url() }}') center center; background-size:cover;"></div>
</div>
{% endfor %}
{% endfor %}
    </div>
  </div><!-- /.carousel -->
</div>
{% if page.header.page_heading %}
<h1 class="page-heading">{{ page.header.page_heading }}</h1>
{% endif %}
</header>

{% elseif page.header.page_header|length == 1 %}

{% for item in page.header.page_header %}
{% for image in item.image %}
  <header class="page-header single-image">
  <div class="item" style="background:url('{{ page.media[image.name].cropZoom(700,467).quality(100).url() }}') center center; background-size:cover;"></div>
{% if page.header.page_heading %}
<h1 class="page-heading">{{ page.header.page_heading }}</h1>
{% endif %}
  </header>
{% endfor %}
{% endfor %}

{% else %}

{% if page.header.page_heading %}
  <header class="page-header no-image">
<h1 class="page-heading">{{ page.header.page_heading }}</h1>
  </header>
{% endif %}

{% endif %}
</div>

</div>
