



.tagline-footer {
  text-align: center;
  h1 {
    background: @color2;
    color: @colorw;
    font-size: @font-size-base * 1.7;
    margin: 0;
    .rwd-p(767px,499px,30px,60px,30px,60px,15px,15px,15px,15px,15px,15px,15px,15px);
    text-transform: none;
  }
  h3 {
    background: @color1;
    color: @colorw;
    font-size: @font-size-base * 1.2;
    margin: 0;
    .rwd-p(767px,499px,30px,60px,30px,60px,15px,15px,15px,15px,15px,15px,15px,15px);
    text-transform: none;
  }
}



footer.global {

  .copyright {
    background: @colorw;
    color: @color2;
    .rwd-p((@site-width-1 - 1),767px,30px,40px,30px,40px,20px,15px,20px,15px,15px,15px,15px,15px);
    position: relative;
    text-align: center;
  }


  .site-author {
    a {
      background: @color2;
      color: @colorw;
      display: block;
      font-size: @font-size-base * 1;
      .rwd-p((@site-width-1 - 1),767px,20px,40px,20px,40px,20px,15px,20px,15px,15px,15px,15px,15px);
      text-align: center;
    }
    &:hover {
      background: @colorw;
      a {
        color: @color1;
      }
    }
  }
}









// ##############################################################################
// ##############################################################################
// rwd





@media only screen and (max-width: 991px) {





} // rwd

@media only screen and (max-width: 767px) {




footer.global {
  .site-author {
    a {
      padding-right: 100px;
    }
  }
}

} // rwd




@media only screen and (max-width: 499px) {





} // rwd
