


body {
  padding: 0px 0 0;
  position: relative;
}

body.off-top {
  header.global {
 //   padding-top: 56px;
  }
}


header.global {
}

.site-logo {
  background: @color1;
  color: @colorw;
  display: block;
  font-size: @font-size-base * 1.5;
  font-weight: 400;
  span {
    display: inline-block;
    .rwd-p(767px,499px,20px,40px,20px,40px,15px,15px,15px,15px,15px,15px,15px,15px);
  }
  .name {
    background: @colorw;
    color: @color1;
    font-weight: 600;
  }
  &:hover {
    color: @colorw;
    text-decoration: none;
  }
}









// ##############################################################################
// ##############################################################################
// rwd







@media only screen and (max-width: 767px) {

header.global {
  .site-logo {
    font-size: @font-size-base * 1.2;
    padding-right: 60px;
  }
}

} // rwd




@media only screen and (max-width: 499px) {



} // rwd
