


.nav-primary {
// overrides
  border: none;
  border-radius: 0;
  box-shadow: none;
  margin: 0 auto;
  width: 100%;
  z-index: 1030;

// styles

  .site-width-centered {
    position: relative;
  }

  .navbar-collapse {
  padding: 0;
  }

    .navbar-nav {
    float: none;
    margin-top: 0;
    > li {
      > a {
        border-bottom: 5px solid @colorw;
        color: @color1;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        padding: 25px;

        &:hover, &:active, &:focus {
          background: @colorw;
          border-color: @color2;
          color: @color2;
        }
        &.active {
          background: @colorw;
          border-color: @color3;
          color: @color3;
        }
      }
    }
    .dropdown {
      .dropdown-menu {
        background: @color3;
        box-shadow: none;
        min-width: 300px;
        z-index: 500;
        li {
          a {
            background: @color3;
            border-bottom: 1px dashed fade(#fff,40%);
            color: @colorw;
            font-size: @font-size-base * .9;
            font-weight: 600;
            padding: 10px 20px;
            position: relative;

            &.last {
              border: none;
            }
            .btn-icon {
              display: none;
              right: 1px;
            }

            &:hover {
              background: #fff;
              color: @color3;
              .btn-icon {
                display: inline-block;
              }
            }
          }
          &:first-child {
            a {

            }
          }
        }
      }

      &.open {
        background: @color3;
        color: @colorw;
        z-index: 1;
      }
      &.open a, &.open a:hover, &.open a:active, &.open a:focus {
        background: @color3;
        border: none;
        color: @colorw;
      }
      &.open:before {
        // top, right, bottom, left, height, width
        .pseudo-item(-4px, auto, auto, auto, 4px, 100%);
        border-top: 4px solid @color3;
      }
      &.about-us {
        .dropdown-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .navbar-toggle {
    background: @color2;
    border: none;
    border-radius: 0;
    margin: 2px 0 0 0;
    padding: 15px;
    position: fixed;
    right: 2px;
    top: 0;
    z-index: 9999;
    .icon-bar {
      background: @colorw;
    }
    &:hover, &:active, &:focus {
      background: @colorw;
      .icon-bar {
        background: @color2;
      }
    }
    .nav-instructions {
      display: none;
      font-size: 13px;
      left: -100px;
      position: absolute;
      top: 15px;
    }
  }


    // affix stuff
    &.affix-top {
      .site-logo {

      }
    }

    &.affix {

      .transition(.4s all);
      .site-logo {

      }
      .navbar-nav {

        > li {
          > a {

          }
        }
      }
    }

} // nav primary








// ##############################################################################
// ##############################################################################
// RWD





@media only screen and (max-width: 479px) {
.nav-primary {



} // nav-primary
} // rwd


@media only screen and (max-width: 767px) {

.nav-primary {

}

} // rwd


@media only screen and (max-width: 991px) {
  .nav-primary {
   min-height: 5px;


  } // nav
} // rwd



@media only screen and (min-width: 991px) and (max-width: 1080px) {
  .nav-primary {
     .navbar-nav {
      margin: 0;
      > li {
        > a {
          padding: 20px 10px;
        }
      }
    }
  } // nav
} // rwd
