


.nav-section {

  .rwd-p(767px,499px,30px,0px,30px,0px,15px,0px,15px,0px,15px,0px,15px,0px);

  a {
    background: @color1;
    color: @colorw;
    display: block;
    margin: 0 0 10px;
    padding: 10px 20px;
    &:hover {
      background: @color2;
    }
  }
}




.page-nav {
  background: @colorw;
  border: 1px solid mix(@colorw,@color2,80%);
  float: right;
  padding: 15px 15px 5px;
  max-width: 30%;
  .page-nav-text {
    margin: 0 0 15px;
  }
  a {
    .btn;
    .btn-one;
    .has-icon;

    display: block;
    font-size: @font-size-base * 0.9;
    margin: 0 0 10px;
    text-align: left;

    &:hover {
      background: @colorw;
      border-color: @color1;
      color: @color1;
    }
  }
}


.nav-pagination {
  margin: 40px auto;
  text-align: center;
}



// ##############################################################################
// ##############################################################################
// breadcrumbs



.nav-breadcrumbs {
  background: @color2;
  border: none;
  .rwd-display(@screen-sm-max,767px,none,block,block);
  .rwd-p(1200px,767px,0px,0px,0px,0px,0px,15px,6px,15px,0px,15px,6px,15px);
  a, span {
    color: fade(@colorw,90%);
    display: inline-block;
    font-size: @font-size-base * 0.95;
    &.active {
      color: fade(@colorw,70%);
    }
  }
  .fa {
    color: fade(@colorw,30%);
    font-size: @font-size-base * 0.75;
    margin: 0 5px;
  }
  .here {
    color: fade(@colorw,30%);
  }
}



// ##############################################################################
// ##############################################################################
// mobile


.nav-mobile {
  background: @color2;
  border-right: 59px solid @color1;
  padding: 20px 10px 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9998;
  a {

    color: @colorw;
    font-size: @font-size-base * 1.4;
    display: block;
    padding: 5px 20px;
    text-transform: uppercase;
  }
  .nav-close {
    background: #fff;
    border-radius: 100px;
    bottom: 15px;
    color: @color1;
    cursor: pointer;
    height: 30px;
    padding-top: 3px;
    position: absolute;
    right: -45px;
    text-align: center;
    width: 30px;
  }
}






// ##############################################################################
// ##############################################################################
// third



.nav-tertiary {
  background: @colorw;
  border-bottom: 10px solid mix(@colorw,@color2,30%);
  padding: 10px 0;
  li {
    display: inline-block;
  }
  a {
    background: mix(@colorw,@color2,30%);
    border: none;
    color: @colorw;
    display: inline-block;
    font-size: @font-size-base * .95;
    padding: 5px 10px;
    text-transform: capitalize;
    &.active, &.active:hover {
      background: @color1;
      border-color: @color1;
      color: #fff;
    }
    &:hover {
      background: @color2;
      border-color: @color2;
      color: #fff;
      text-decoration: none;
    }
  }
}





// ##############################################################################
// ##############################################################################
// second


.nav-secondary {
  background: @color5;
  border: none;
  border-radius: 0;
  margin: 0;
  .rwd-p((@site-width-1 - 1),767px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px,0px);
  min-height: 1px;
  li {
    display: inline-block;
  }
  a {
    background: @color1;
    color: @colorw;
    display: inline-block;
    font-size: @font-size-base * 0.95;
    font-weight: 100;
    padding: 10px 15px;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      background: @color2;
      color: @colorw;
      text-decoration: none;
    }
    &.active {
      background: @colorw;
      color: @color1;
      font-weight: 400;
      text-decoration: none;
    }
  }
}
















// ##############################################################################
// ##############################################################################
// RWD




@media only screen and (max-width: 767px) {



} // rwd


