{% extends 'partials/base.html.twig' %}

{% block content %}

	<div id="success" class="template-success">
      <div class="container">
				<br><br>
		<div class="message message-success">
                <i class="fa fa-check fa-3x"></i>
			<h1 class="text-success">Submission Successful</h1>
			<p>
				Your message was sent. We will contact you as soon as possible, if neccessary.
			</p>
      <p>Thank you, <br>
      Kaye Mcneill</p>
		</div>

     <a href="/" class="btn btn-one">go to homepage</a> <a href="/contact" class="btn btn-one">contact us</a>
<br><br><br>
			</div>
	</div>

{% endblock %}
