

        <h3 class="form-heading">Contact Form</h3>

 <form method="post" action="/formmail.php" name="Contact Form"  id="contact-form">
            <input type="hidden" name="recipients" value="admin-&*&-kayemcneill.com.au,gsldforms-&*&-gmail.com" />
            <input type="hidden" name="mail_options" value="CharSet=UTF-8,TemplateMissing=n/a,KeepLines,Exclude=realname;submit,FromAddr=workflow-&*&-gsld.com.au,FromLineStyle=RouteAddr,HTMLTemplate=workflow-contact.html" />
            <input type="hidden" name="required" value="email:Please enter your email address,name:Please enter your full name,message:Please enter your message" />
            <input type="hidden" name="good_url" value="/success" />
            <input type="hidden" name="bad_url" value="/fmbadhandler.php" />
            <input type="hidden" name="bad_template" value="/submission-error.html" />
            <input type="hidden" name="this_form" value="/contact" />
            <input type="hidden" name="derive_fields" value="replyto = email,subject = name" />

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                  <label class="" for="name">Full Name <span class="req">(required)</span></label>
                    <input type="text" class="form-control" maxlength="255" name="name" id="name" required  data-validation-required-message="Please Enter Your Full Name">
                </div>

                <div class="form-group">
                  <label class="" for="email">Email Address <span class="req">(required)</span></label>
                    <input type="email" class="form-control" autocomplete="off" maxlength="400" name="email" id="email" required>
                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                  <label class="" for="phone">Contact Phone Number</label>
                    <input type="text" class="form-control" autocomplete="off" maxlength="100" name="phone" id="phone">
                </div>

                <div class="form-group">
                  <label class="" for="message">Message <span class="req">(required)</span></label>
                    <textarea class="form-control" autocomplete="off" rows="3" name="message" id="message" required></textarea>
                </div>
            </div>
            <div class="col-md-12">
                <div class="hidden">
                  <label for="field_hp_1">If you are a human and can see this field, please refrain from filling it out</label>
                  <input type="text" autocomplete="off" name="field_hp_1" value="fieldhp1" class="input-xlarge">
                  <label for="field_hp_2">If you are a human and can see this field, please refrain from filling it out</label>
                  <input type="text" autocomplete="off" name="field_hp_2" value="" class="input-xlarge">
                </div>


                <button type="submit" class="btn btn-submit has-icon" name="submit">Submit Form <span class="btn-icon post"><i class="fa fa-send"></i></span></button>
                <br><br>
            </div>

          </div>
        </div>

            </form>
