{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-container site-width-centered">

<div class="container-fluid">
<div class="row">
<div class="col-md-6">

{% for item in page.header.page_nav %}
{% if loop.first %}
<nav class="page-nav">
{% for text in page.header.page_nav_text %}
<div class="page-nav-text">
{{ text.text }}
</div>
{% endfor %}
{% endif %}
<a class="item" href="{{ item.link }}">{{ item.text }} <span class="btn-icon post"> <i class="fa fa-angle-double-right"></i></span> </a>
{% if loop.last %}
</nav>
{% endif %}
{% endfor %}

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    {% if item.image %}
      <div class="images side-{{ item.side }} size-{{ item.size }}">
      {% for image in item.image %}
        <figure class="image">
          {% if item.size =="lg" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(700,467).quality(100).url() }}">
          {% elseif item.size =="md" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(550,367).quality(100).url() }}">
          {% else %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(350,233).quality(100).url() }}">
          {% endif %}
        </figure>
      {% endfor %}
      </div>
    <div class="block-content has-image">
      {{ item.text|markdown }}
    </div>
    {% else %}
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="block-downloads clearfix" id="page-downloads">
{% for download in page.header.downloads %}
  {% for item in download.dl %}
     <a class="btn btn-one has-icon" href="{{ item.path }}" class="item">{{ download.text }} <span class="btn-icon post"> <i class="fa fa-download"></i> </span> </a><br>
  {% endfor %}
{% endfor %}
  </div>

  <div class="block-links clearfix" id="page-links">
  {% for item in page.header.links %}
     <a class="btn btn-one has-icon" href="{{ item.link }}" class="item">{{ item.text }} <span class="btn-icon post"> <i class="fa fa-angle-double-right"></i> </span> </a><br>
  {% endfor %}
  </div>

</div><!-- /blocks -->

</div><!--/ col-->
<div class="col-md-6">

<div class="form form-contact">
{% include "forms/form.html.twig" %}
</div><!-- /form-->

<section class="full-map">
<h2 class="section-heading">Map Location</h2>
{% for item in page.header.map_image %}
<div class="gmap-image" style="background: #eee url('{{ page.media[item.name].cropZoom(600,450).quality(100).url() }}') center center; background-size:cover;">
<a href="/map" class="btn btn-one">View Live Map</a>
<a href="/map" class="overlay-link"></a>
</div>
{% endfor %}
</section>

</div><!--/ col-->
</div>
</div>

</div> <!-- /page-container-->
{% endblock %}
