{% extends 'partials/base.html.twig' %}

{% block content %}

	<div id="error" class="template-error">
      <div class="container">
		<div class="message message-error">
                <i class="fa fa-times fa-4x"></i>
			<h1>Error {{ page.header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
    <a onclick="history.go(-1);" href="/contact" class="btn btn-one">go back</a> <a href="/" class="btn btn-one">go to homepage</a> <a href="/contact" class="btn btn-one">contact us</a>
      </div>
	</div>

{% endblock %}
