{% extends 'partials/base.html.twig' %}
{% block content %}
 {% include 'partials/nav-secondary.html.twig' %}
<div class="page-content clearfix">
  <h2 class="page-heading">Gallery - {{ page.header.title }}</h2>
  <div class="text-content">{{ content }}</div>

  <div class="block-gallery popup-gallery magnific-gallery clearfix" id="page-gallery">
  {% for item in page.header.gallery %}
  <a class="item" style="background: #fff url('{{ page.media[item.name].cropZoom(200,200).quality(90).url() }}') center center; background-size:cover;" href="{{ page.media[item.name].cropResize(1000,900).quality(90).url() }}"> <i class="fa fa-search-plus fa-2x"></i></a>
  {% endfor %}
  </div>
</div>
{% endblock %}
