{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-container site-width-centered">

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
  </div>
  {% endfor %}

</div><!-- /blocks -->

{% if page.header.gallery_type == "parent" %}

<div class="galleries-list-parent container-fluid">
<div class="row">
{% for p in page.children.visible %}
<div class="col-sm-6 col-md-4">
  <a class="item" href="{{ p.url }}" style="background: #ccc url('{{ p.media.images|first.cropZoom(300,300).quality(90).url() }}') center center; background-size:cover;"> <i class="fa fa-eye fa-2x"></i>
    <h1>{{ p.title }}</h1>
  </a>
</div>
{% endfor %}
</div>
</div>

{% else %}

<div class="galleries-list-parent container-fluid">
<div class="row">
{% for p in page.parent.children.visible %}
{% if loop.first%}
{% else %}
  <div class="col-sm-6 col-md-4">
    <a class="item" href="{{ p.url }}" style="background: #fff url('{{ p.media.images|first.cropZoom(300,300).quality(90).url() }}') center center; background-size:cover;"> <i class="fa fa-eye fa-2x"></i>
      <h1>{{ p.title }}</h1>
    </a>
  </div>
{% endif %}
{% endfor %}
</div>
</div>

{% endif %}

</div> <!-- /page-container-->
{% endblock %}
