{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-container site-width-centered">



<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    {% if item.image %}
      <div class="images side-{{ item.side }} size-{{ item.size }}">
      {% for image in item.image %}
        <figure class="image">
          {% if item.size =="lg" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(700,467).quality(100).url() }}">
          {% elseif item.size =="md" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(550,367).quality(100).url() }}">
          {% else %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(350,233).quality(100).url() }}">
          {% endif %}
        </figure>
      {% endfor %}
      </div>
    <div class="block-content has-image">
      {{ item.text|markdown }}
    </div>
    {% else %}
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
    {% endif %}
  </div>
  {% endfor %}

</div><!-- /blocks -->

{% include 'partials/header.html.twig' %}

<div class="intro">
  <br><br>
  <div class="content">
    {{ page.header.intro|markdown }}
  </div>
</div>

<section class="one">
  {{ page.header.one|markdown }}
</section>

<section class="contact">

  <p>  <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
    </span>
   <strong>Phone:</strong> {{ site.gv.phone }} &nbsp;&nbsp;&nbsp;

   <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
    </span>
   <strong>Fax:</strong> {{ site.gv.fax }} &nbsp;&nbsp;&nbsp;

   <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
  </span>
  <strong>Email:</strong> {{ site.gv.email }}</p>

</section>

<section class="home-section two clearfix">

  {% for item in page.header.two %}
    <div class="block-media clearfix">
    {% if item.image %}
      <div class="images side-{{ item.side }} size-{{ item.size }}">
      {% for image in item.image %}
        <figure class="image">
          {% if item.size =="lg" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(700,467).quality(100).url() }}">
          {% elseif item.size =="md" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(550,367).quality(100).url() }}">
          {% else %}
          <img class="img-responsive" src="{{ page.media[image.name].cropZoom(350,233).quality(100).url() }}">
          {% endif %}
        </figure>
      {% endfor %}
      </div>
    <div class="block-content has-image">
      {{ item.text|markdown }}
    </div>
    {% else %}
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
    {% endif %}
  </div>
  {% endfor %}

</section>


<section class="three">
     <h2>We can help you with:</h2>
 <div class="container-fluid">
   <div class="row fancy-lists">
     <div class="col-md-6">
      <ul>
        <li>Neck and back pain</li>
        <li>Acute pain</li>
        <li>Chronic pain</li>
        <li>Post-surgical rehabilitation</li>
        <li>Headache &amp; migraine</li>
        <li>Joint replacement therapy</li>
        <li>Postural correction</li>
        <li>Computer and laptop injury prevention</li>
        <li>Gym programs</li>
        <li>Core strength</li>
      </ul>
      </div>
      <div class="col-md-6">
      <ul>
        <li>Balance and strengthening</li>
        <li>Braces, taping</li>
        <li>Back pain in pregnancy</li>
        <li>Wheelchair access</li>
        <li>Car park at front of practice</li>
        <li>EPC Medicare rebate program</li>
        <li>DVA, TAC, WorkCover</li>
        <li>Motor Vehicle Accident Injuries</li>
        <li>Orthopaedic pillows</li>
      </ul>
     </div>
   </div>
 </div>
</section>


<section class="gallery">
    <div class="popup-gallery magnific-gallery clearfix" id="page-gallery">
  {% for item in page.header.gallery %}
  <a class="item" style="background: #fff url('{{ page.media[item.name].cropZoom(250,250).quality(100).url() }}') center center; background-size:cover;" href="{{ page.media[item.name].cropResize(1000,900).quality(90).url() }}"> <i class="fa fa-search-plus fa-2x"></i></a>
  {% endfor %}
  </div>
</section>

</div> <!-- /page-container-->
{% endblock %}
