{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-container site-width-centered">


<div class="site-width-centered">
   <a href="/contact" onclick="history.go(-1);" class="btn btn-back"> <span class="btn-icon pre"><i class="fa fa-arrow-left"></i></span> back</a> <a href="/contact" class="btn btn-back"> <span class="btn-icon pre"><i class="fa fa-arrow-left"></i></span> go to contact page</a>
</div>

<div class="site-width-centered">

<h1>Map Location</h1>
<div class="rwd-iframe-lg gmap-iframe">
  <div class="rwd-iframe-wrapper">
    <div class="rwd-iframe">

{{ site.gv.map }}

    </div>
  </div>
</div>

</div>

</div> <!-- /page-container-->
{% endblock %}
