{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}
{% set base_url = page.url %}

{% if base_url == '/' %}
    {% set base_url = '' %}
{% endif %}

{% if base_url == base_url_relative %}
    {% set feed_url = base_url~'/'~page.slug %}
{% endif  %}

{% block content %}

{% if grav.uri.paths.1 %}
{% include "partials/nav/nav-secondary.html.twig" %}
{% endif %}

<div class="page-container site-width-centered">

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
  </div>
  {% endfor %}

</div><!-- /blocks -->

<div class="news-archive-list">

{{ dump(collection[page.path]) }}

{% for child in collection %}
{% if loop.first %}
<h3 class="list-heading">Newsletter Archives</h3>
{% endif %}

<a class="item" href="/{% for item in child.header.newsletter %}{{ item.path }}{% endfor %}">Download {{ child.title }} <span class="date"> ({{ child.date|date("M d Y") }})</span></a>

{% endfor %}

{% if config.plugins.pagination.enabled and collection.params.pagination %}
{% include 'partials/nav/pagination.html.twig' with {'pagination':collection.params.pagination} %}
{% endif %}

</div>

</div> <!-- /page-container-->
{% endblock %}
