{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}

{% block content %}

{% if grav.uri.paths.1 %}
{% include "partials/nav/nav-secondary.html.twig" %}
{% endif %}

<div class="page-container site-width-centered">

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
  </div>
  {% endfor %}

</div><!-- /blocks -->

<div class="newsletter-latest">

{% for child in collection[:1] %}
<h2 class="list-heading">Download the Latest Newsletter</h2>
<a class="btn btn-one has-icon" href="/{% for item in child.header.newsletter %}{{ item.path }}{% endfor %}">Download {{ child.title }} <span class="btn-icon post">({{ child.date|date("M d Y") }})</span></a>
{% endfor %}

</div>

<div class="news-archive-list">

{% for child in collection[1:] %}
{% if loop.first %}
<h3 class="list-heading">Older Newsletters</h3>
{% endif %}

<a class="item" href="/{% for item in child.header.newsletter %}{{ item.path }}{% endfor %}">Download {{ child.title }} <span class="date"> ({{ child.date|date("M d Y") }})</span></a>

{% endfor %}

{% if config.plugins.pagination.enabled and collection.params.pagination %}
{% include 'partials/nav/pagination.html.twig' with {'pagination':collection.params.pagination} %}
{% endif %}

<br><br>
<a class="btn btn-one has-icon view-archives" href="{{ site.gv_to.newsletter_archive }}" class="btn btn-on has-icon">View Newsletter Archives <span class="btn-icon post"><i class="fa fa-angle-double-right"></i></span> </a>

</div>

</div> <!-- /page-container-->
{% endblock %}
