{% extends 'partials/base.html.twig' %}

{% block content %}

{% if grav.uri.paths.1 %}
{% include "partials/nav/nav-secondary.html.twig" %}
{% endif %}

<div class="page-container site-width-centered">

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
  </div>
  {% endfor %}

</div><!-- /blocks -->

</div> <!-- /page-container-->
{% endblock %}
