
{% extends 'partials/base.html.twig' %}

{% block content %}

{% include 'partials/header.html.twig' %}

<h1 class="">Pages In This Section</h1>

{% if page.children.visible.count > 0 %}
<nav class="nav-section">
<ul class="list-reset">
  {% for child in page.children %}
      {% if child.visible %}
          <li><a href="{{ child.url }}">{{ child.menu }} </a></li>
      {% endif %}
  {% endfor %}
</ul>
</nav>
{% endif %}


</div> <!-- /page-container-->

{% endblock %}
