{% extends 'partials/base.html.twig' %}

{% block content %}

{% include 'partials/header.html.twig' %}

<div class="page-container site-width-centered">

{% for item in page.header.page_nav %}
{% if loop.first %}
<nav class="page-nav">
  <h3 class="page-section-heading page-nav-heading">Menu</h3>
<div class="page-nav-text">
{{ page.header.page_nav_text }}
</div>
{% endif %}
<a class="item" href="{{ item.link }}">{{ item.text }} <span class="btn-icon post"> <i class="fa fa-angle-double-right"></i></span> </a>
{% if loop.last %}
</nav>
{% endif %}
{% endfor %}

<div class="content-blocks clearfix">

  {% for item in page.header.paragraphs %}
    <div class="block-media clearfix">
    {% if item.image %}
      <div class="images side-{{ item.side }} size-{{ item.size }}">
      {% for image in item.image %}
        <figure class="image">
          {% if item.size =="lg" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(700,467).quality(100).url() }}">
          {% elseif item.size =="md" %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(550,367).quality(100).url() }}">
          {% else %}
          <img class="img-responsive" src="{{ page.media[image.name].cropResize(350,233).quality(100).url() }}">
          {% endif %}
        </figure>
      {% endfor %}
      </div>
    <div class="block-content has-image">
      {{ item.text|markdown }}
    </div>
    {% else %}
    <div class="block-content no-image">
      {{ item.text|markdown }}
    </div>
    {% endif %}
  </div>
  {% endfor %}

  <div class="block-downloads clearfix" id="page-downloads">
{% for download in page.header.downloads %}
{% if loop.first %}
  <h3 class="page-section-heading">Downloads</h3>
{% endif %}
  {% for item in download.dl %}
     <a class="btn btn-one has-icon" href="/{{ item.path }}" class="item">{{ download.text }} <span class="btn-icon post"> <i class="fa fa-download"></i> </span> </a><br>
  {% endfor %}
{% endfor %}
  </div>

  <div class="block-links clearfix" id="page-links">
  {% for item in page.header.links %}
    {% if loop.first %}
      <h3 class="page-section-heading">Links</h3>
    {% endif %}
     <a{% if item.blank %} target="_blank"{% endif %} class="btn btn-two has-icon" href="{{ item.link }}" class="item">{{ item.text }} <span class="btn-icon post"> <i class="fa fa-angle-double-right"></i> </span> </a><br>
  {% endfor %}
  </div>

  <div class="block-gallery popup-gallery magnific-gallery clearfix" id="page-gallery">
  {% for item in page.header.gallery %}
    {% if loop.first %}
      <h3 class="page-section-heading">Gallery</h3>
    {% endif %}
  <a class="item" style="background: #fff url('{{ page.media[item.name].cropZoom(250,250).quality(100).url() }}') center center; background-size:cover;" href="{{ page.media[item.name].cropResize(1000,900).quality(90).url() }}"> <i class="fa fa-search-plus fa-2x"></i></a>
  {% endfor %}
  </div>

</div><!-- /blocks -->


<div class="prev-next">
    {% if not page.isFirst %}
        <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> Next Page in This Section - {{ page.prevSibling.title }}</a>
    {% endif %}

    {% if not page.isLast %}
        <a class="button" href="{{ page.prevSibling.url }}">Previous Page in this Section - {{ page.prevSibling.title }} <i class="fa fa-chevron-right"></i></a>
    {% endif %}
</div>

</div> <!-- /page-container-->

{% endblock %}
