{% extends 'partials/base.html.twig' %}
{% block content %}
<h1>Sitemap</h1>
<nav class="nav-sitemap">
{% macro loop(page) %}
    {% for p in page.children.visible %}
        {% set current_page = (p.active or p.activeChild) ? 'active' : '' %}
       {% if p.children.visible.count > 0 %}
        <li class="">
        {% else %}
        <li class="">
        {% endif %}
            {% if p.children.visible.count > 0 %}
            <a href="{{ p.url }}" class="">{{ p.menu }} </a>
            {% else %}
            <a class="" href="{{ p.url }}">{{ p.menu }}</a>
            {% endif %}
            {% if p.children.visible.count > 0 %}
                <ul class="">
                    {{ _self.loop(p) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

  <ul class="">
        {{ _self.loop(pages) }}
    {% for mitem in site.menu %}
        <li class="">
            <a href="{{ mitem.url }}">
                {{ mitem.text }}
            </a>
        </li>
    {% endfor %}
</ul>
</nav>
{% endblock %}
