{% embed 'partials/base.html.twig' %}
  {% set collection = page.collection() %}
  {% set base_url = page.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

  {% block content %}

    <div class="content-wrapper archive-list g-grid pure-g-r">
      <div id="listing" class="g-block pure-u-2-3">
            {{ page.content }}


             {% if config.plugins.archives.enabled %}
             <h4>Archives by month</h4>
           {% include 'partials/archives.html.twig' %}
             {% endif  %}
      </div>

    </div>
  {% endblock %}
{% endembed %}
