{% extends 'partials/base.html.twig' %}

{% block content %}
{% include 'partials/back.html.twig' %}

<div class="page-content clearfix">
  <h3>Testimonials</h3>
  <h1>{{ page.title }}</h1>

  <div class="text-content">
    {{ content }}
  </div>
</div>
{% endblock %}
