
{% extends 'partials/base.html.twig' %}

{% block content %}

<div class="page-container site-width-centered">
<div class="page-text">
      {{ content }}
</div>


  <div class="testimonials-list">
{% for p in page.collection %}
  <div class="item">
      <div class="content">
         <span class="fa-stack fa-lg fa-2x">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-quote-left fa-stack-1x fa-inverse"></i>
            <i class="fa fa-quote-right fa-stack-1x fa-inverse"></i>
        </span>
        <span class="text">
           {{ p.content|markdown }}
        </span>
        <span class="title">{{ p.title }}</span>
      </div>
    </div>
{% endfor %}
</div>

{% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}

</div> <!-- /page-container-->
{% endblock %}
